
{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}Chat{% endblock %}


{% block content %}
<div>
  <h1>Chat</h1>
  <div>
    <h2>What chat room would you like to enter?</h2>
    <input id="room-name-input" type="text" size="100"/><br/>
    <input id="room-name-submit" type="button" value="Enter"/>
  </div>
</div>
  {% load static %}
  <script src="{% static 'js/select_room.js' %}"></script>
{% endblock %}
