{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Chat {{room_name}}{% endblock %}

{% block content %}
<h1>Chat room: {{room_name}}</h1>
<div>
    <textarea id="chat-log" cols="100" rows="20">
        {% for msg in msgs %}
            {{msg}}
        {% endfor %}
    </textarea>
    <input id="chat-message-input" type="text" size="100"/>
    <input id="chat-message-submit" type="button" value="Send"/>
    <input type="hidden" id="roomName" name="roomNameVariable" value="{{ room_name|escapejs }}"><br>
    <span>Press "Enter" with empty input to refresh chat.</span>
</div>

{% load static %}
<script src="{% static 'js/send_message.js' %}"></script>
{% endblock %}
